@import url('https://fonts.googleapis.com/css2?family=Abel&family=BioRhyme&family=Merriweather&family=Roboto:wght@100&display=swap');

:root {
    --mainColor: #212529;
    --textColor: #4B5257;
    --secondaryTextColor: #ECB409;
    --mainTextColor: #F8F9FA;
}

.gridContainer {
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    /* row-gap: 5px; */
}

html {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0px;
}
h3 {
    font-family: "Merriweather";
    color: var(--secondaryTextColor);
}
a {
    color: var(--secondaryTextColor);
}
ul {
    list-style-type: square;
}
.navigation {
    font-family: "Abel";
    margin: 0;
    background-color: var(--mainColor);
    position: sticky;
    top: 0;
}
.header {
    font-family: "BioRhyme";
    color: var(--mainTextColor);
    background-color: var(--mainColor);
    text-align: center;
    /* width: 100%; */
    top: 0;
    position: sticky;
    border-top: 10px var(--secondaryTextColor) solid;
}
.content {
    height: 87vh;
    font-family: "Abel";
    background-color: var(--mainColor);
    color: var(--textColor);
}
.footer {
    border-bottom: 20px var(--mainColor) solid;
    position: sticky;
    bottom: 0;
}
#quote {text-align: center;}
#flag {text-align: center;}
