/* MOBILE DEVICES */
@media only screen and (max-width: 550px) {
    .header {
        font-size: 30px;
        padding: 10px 0;      
    }
    .content {
        font-size: 18px;
        padding: 10px 20px;
    }
}
/* TABLET AND SMALLER SCREENS */
@media only screen and (min-width: 550px) {
    .header {
        font-size: 30px;
        padding: 10px 0;      
    }
    .content {
        font-size: 19px;
        padding: 10px 30px;
    }
}
/* LAPTOPS */
@media only screen and (min-width: 1024px) {
    .header {
        font-size: 30px;
        padding: 10px 0;      
    }
    .content {
        font-size: 21px;
        padding: 10px 7%;
    }
}

